$primary-color: #2c3639;
$secondary-color: #dcd7c9;
$tertiary-color: #a27b5c;
$highlight-color: #d0ccbf;
$alert-color: #a62349;

@mixin flex($dir, $just, $align, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  flex-wrap: $wrap;
}
