@import "./config.scss";

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem 1rem;
  width: 90vw;
  max-width: 1100px;
  margin-top: 2rem;
}

.header {
  @include flex(row, space-between, center, nowrap);
  grid-column: 1/3;
  gap: 1.5rem;
  position: relative;

  .fa-solid {
    color: $secondary-color;
  }

  &__title {
    @include flex(row, center, center, nowrap);
    font-size: 1.2rem;
    color: $secondary-color;
    gap: 0.4rem;

    .fa-solid {
      color: $tertiary-color;
      font-size: 2.5rem;
      opacity: 1;
    }
  }

  &__search {
    @include flex(row, center, center, nowrap);
    flex-grow: 1;

    input {
      background-color: $secondary-color;
      outline: none;
      border: none;
      padding: 0.3rem 0.5rem;
      font-size: 1.4rem;
      border-radius: 1rem;
      width: 70%;
    }
  }

  &__nav {
    @include flex(row, center, center, nowrap);
    gap: 1rem;
  }

  /* .btn-bookmark:hover + .header__bookmarks {
    visibility: visible;
  } */

  &__bookmarks {
    background-color: $secondary-color;
    position: absolute;
    z-index: 1;
    width: 50%;
    right: 0;
    top: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms 250ms;
    box-shadow: -5px 8px 8px $primary-color;

    &:hover,
    .btn-bookmark:hover + & {
      visibility: visible;
      opacity: 0.9;
    }
  }
}

.search-results {
  background-color: $secondary-color;
  border-radius: 0.5rem;
  min-height: 70vh;

  &__results {
    @include flex(column, center, center, nowrap);
    gap: 1.7rem;

    font-size: 1.3rem;

    p {
      color: $tertiary-color;
      font-size: 1.1rem;
    }
  }

  &__pagination {
    @include flex(row, space-between, center, nowrap);
    padding: 1.4rem;
    ///////////////////////////////
    &--btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}

.recipe {
  @include flex(column, flex-start, center, nowrap);
  background-color: $secondary-color;
  border-radius: 0.5rem;
  gap: 4rem;

  &__message {
    @include flex(column, center, center, nowrap);
    height: 100%;
    font-size: 1.4rem;
    gap: 1rem;

    .fa-solid {
      font-size: 2.2rem;
    }
  }

  &__fig {
    @include flex(column, center, center, nowrap);
    width: 100%;
    gap: 1rem;

    &--title {
      font-size: 1.8rem;
      text-align: center;
      text-shadow: 0px 0px 1px black;
    }
  }

  &__details {
    @include flex(row, space-evenly, center, nowrap);
    width: 100%;
    font-size: 1.3rem;

    .bookmarked {
      color: $tertiary-color;
      animation: bounce 700ms;
    }

    @keyframes bounce {
      0% {
        transform: translateX(0.6rem);
      }
      20% {
        transform: translateX(-0.5rem);
      }
      40% {
        transform: translateX(0.4rem);
      }
      60% {
        transform: translateX(-0.3rem);
      }
      80% {
        transform: translateX(0.2rem);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  &__ingredients {
    @include flex(column, center, center, wrap);
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    font-size: 1.3rem;

    ul {
      width: 100%;
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem 3rem;
    }
  }
}

.hidden {
  visibility: hidden;
}
