@import "./config.scss";

.spinner {
  margin: 5rem auto;
  text-align: center;

  i {
    font-size: 2.6rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem 1rem;
  width: 90vw;
  max-width: 1100px;
}

.header {
  @include flex(row, space-between, center, nowrap);
  grid-column: 1/3;
  gap: 1.5rem;

  .fa-solid {
    font-size: 1.7rem;
    opacity: 0.7;
    transition: opacity 300ms;
    margin-left: 0.7rem;

    &:hover {
      opacity: 1;
    }
  }

  button {
    @include flex(row, center, center, nowrap);
    background-color: transparent;
    color: $secondary-color;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__title {
    @include flex(row, center, center, nowrap);
    font-size: 1.2rem;
    color: $secondary-color;
    gap: 0.4rem;

    .fa-solid {
      color: $tertiary-color;
      font-size: 2.5rem;
      opacity: 1;
    }
  }

  &__search {
    @include flex(row, center, center, nowrap);
    flex-grow: 1;

    input {
      background-color: $secondary-color;
      outline: none;
      border: none;
      padding: 0.3rem 0.5rem;
      font-size: 1.4rem;
      border-radius: 1rem;
      width: 70%;
    }
  }

  &__nav {
    @include flex(row, center, center, nowrap);
    gap: 1rem;
  }
}

.search-results {
  background-color: $secondary-color;
  border-radius: 0.5rem;

  &__results {
    @include flex(column, center, center, nowrap);
    gap: 0.8rem;
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.3rem;

    p {
      color: $tertiary-color;
      font-size: 1.1rem;
    }
  }
}

.recipe {
  @include flex(column, flex-start, center, nowrap);
  background-color: $secondary-color;
  border-radius: 0.5rem;
  gap: 4rem;

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__message {
    @include flex(column, center, center, nowrap);
    height: 100%;
    font-size: 1.4rem;
    gap: 1rem;

    .fa-solid {
      font-size: 2.2rem;
    }
  }

  &__fig {
    @include flex(column, center, center, nowrap);
    width: 100%;
    gap: 1rem;

    &--title {
      font-size: 1.8rem;
      text-shadow: 0px 0px 1px black;
      border-bottom: 1px solid black;
    }

    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
  }

  &__details {
    @include flex(row, space-evenly, center, nowrap);
    width: 100%;
    font-size: 1.3rem;

    .fa-regular,
    .fa-solid {
      font-size: 1.4rem;
    }
  }

  &__ingredients {
    @include flex(column, center, center, wrap);
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    font-size: 1.3rem;

    ul {
      width: 100%;
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem 3rem;
    }

    li {
      text-align: center;
    }
  }
}
